@model HomeViewModel
@{
    ViewData["title"] = "Home Page | ShopeeFood.vn | Administrator";
}

<div class="home-stores-section">
    <div class="menu">
        <div class="see-stores-list">
            Danh sách cửa hàng
        </div>
    </div>
    
    <div class="main-content">
        @if (Model.Stores is not null)
        {
            var stores = Model.Stores;

            foreach (var store in stores)
            {
                <h6>@store.Name</h6>
            }
        }
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
}

@section Scripts {
    <script src="~/js/home.js" asp-append-version="true"></script>
}