@model CreateStoreViewModel
@{
    var vendorId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    
    ViewData["title"] = "Home Page | ShopeeFood.vn | Administrator";
}

<div class="main-content col-auto">
    <form class="create-store-form ms-3">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="VendorId" value="@vendorId"/>
        
        <div class="mb-3">
            <label class="form-label">Tên cửa hàng<span class="ms-1 text-danger">*</span></label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Tên cửa hàng"/>
            <span asp-validation-for="Name" class="validation-message text-danger" />
        </div>
        
        <label class="form-label">Địa chỉ cửa hàng<span class="ms-1 text-danger">*</span></label>
        <div class="row ms-1">
            <div class="dropdown col-auto p-0 me-3">
                <button id="province-btn"
                        class="btn dropdown-toggle d-flex align-items-center justify-content-start" type="button"
                        data-bs-toggle="dropdown">
                    Tỉnh/Thành phố
                </button>
                <ul class="dropdown-menu" id="create-store-province-dropdown">

                </ul>
            </div>
            <div class="dropdown col-auto p-0 me-3">
                <button id="district-btn"
                        class="btn dropdown-toggle d-flex align-items-center justify-content-start" type="button"
                        data-bs-toggle="dropdown">
                    Quận/Huyện
                </button>
                <ul class="dropdown-menu" id="create-store-district-dropdown">

                </ul>
            </div>
            <div class="dropdown col-auto p-0 me-3">
                <button id="ward-btn" class="btn dropdown-toggle d-flex align-items-center justify-content-start"
                        type="button" data-bs-toggle="dropdown">
                    Phường/Xã
                </button>
                <ul class="dropdown-menu" id="create-store-ward-dropdown">

                </ul>
            </div>
            <div class="col-auto">
                <input id="detail-address" class="form-control" type="text" placeholder="Tên toà nhà/Số nhà/Tên đường..." asp-for="StreetName"/>
            </div>
                
            <input type="hidden" asp-for="WardCode" id="ward-code"/>
        </div>
        <span class="address-validation-message validation-message text-danger ms-1 mb-3">Vui lòng chọn đầy đủ Tỉnh/Thành phố, Quận/Huyện, Phường/Xã và nhập địa chỉ chi tiết!</span>
        
        <div class="mb-3">
            <label class="form-label">Giờ mở cửa<span class="ms-1 text-danger">*</span></label>
            <input asp-for="OpeningHour" type="time" class="form-control"/>
            <span asp-validation-for="OpeningHour" class="validation-message text-danger" />
        </div>
        
        <div class="mb-3">
            <label class="form-label">Giờ đóng cửa<span class="ms-1 text-danger">*</span></label>
            <input asp-for="ClosingHour" type="time" class="form-control"/>
            <span asp-validation-for="ClosingHour" class="validation-message text-danger" />
        </div>

        <button class="btn btn-orange d-flex align-items-center justify-content-end ms-auto" type="submit" onclick="return proceedCreateStoreForm()">Tạo cửa hàng</button>
    </form>
</div>